body
  background-color theme('colors.gray.200')
  font-family theme('fontFamily.sans')

h1
h2
h3
h4
  font-family theme('fontFamily.heading')

h1
  font-size theme('fontSize.4xl')
  +breakpoint(breaks.md)
    font-size theme('fontSize.6xl')
h2
  font-size theme('fontSize.2xl')
  +breakpoint(breaks.md)
    font-size theme('fontSize.4xl')
h3
  font-size theme('fontSize.xl')
  +breakpoint(breaks.md)
    font-size theme('fontSize.2xl')
h4
  font-size theme('fontSize.lg')
  +breakpoint(breaks.md)
    font-size theme('fontSize.xl')